.footer {
    width: 100%;
    height: 956px;
    margin: 0px auto;
    border-top: 1px solid lightgray;

    .footer-1 {
        max-width: 1640px;
        height: fit-content;
        margin: 40px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-1-logo {
            width: 195px;
            height: 30px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .footer-1-top {
            width: 137px;
            height: 37px;
            border: 1px solid rgb(178, 172, 172);
            border-radius: 7px;
            text-align: center;

            a {
                font-size: 14px;
                font-family: var(--font-family);
                font-weight: normal;
                color: rgb(178, 172, 172);
                line-height: 40px;
                text-decoration: none;
            }
        }
    }

    .footer-2 {
        max-width: 1640px;
        height: fit-content;
        margin: 0px auto;
        display: flex;
        justify-content: right;
        align-items: center;
        column-gap: 15px;
        margin-bottom: 40px;
        padding-right: 20px;
        box-sizing: border-box;

        p,
        div {
            font-size: 14px;
            font-family: var(--font-family);
            font-weight: normal;
            color: rgb(64, 62, 62);
        }
    }

    .footer-3 {
        max-width: 1640px;
        height: fit-content;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        column-gap: 1px;

        .footer-3-item {
            width: 341px;
            height: 103px;
            text-align: center;

            a {
                text-decoration: none;
            }

            .footer-3-item-img {
                width: 56px;
                height: 56px;
                margin: 8px auto;

                img {
                    width: 100%;
                    height: 100%;

                }

            }

            .footer-3-item-title {
                font-size: 12.5px;
                font-family: var(--font-family);
                font-weight: normal;
                color: rgb(64, 62, 62);
            }


        }
    }

    .footer-4 {
        max-width: 1640px;
        height: 287px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        .footer-4-links {
            width: 25%;
            height: 100%;

            p {
                font-size: 18px;
                font-family: var(--font-family);
                font-weight: bold;
                line-height: 40px;
            }

            a {
                display: block;
                font-size: 16px;
                font-family: var(--font-family);
                font-weight: normal;
                line-height: 40px;
                text-decoration: none;
                color: gray;
            }
        }

        .footer-4-socialmedia {
            width: fit-content;
            height: 100%;

            h4 {
                font-size: 18px;
                font-family: var(--font-family);
                font-weight: normal;
                line-height: 40px;
                margin-bottom: 7px;
            }

            .footer-4-email {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-right;
                column-gap: 7px;

                .email-input {
                    width: 250px;
                    height: 46px;

                    input {
                        width: 100%;
                        height: 100%;
                        background-color: #F0F0F1;
                        border-radius: 5px;
                        border: none;
                        font-size: 16px;
                        font-family: var(--font-family);
                        padding-right: 15px;
                        box-sizing: border-box;
                    }
                }

                .email-submit {
                    width: 50px;
                    height: 46px;

                    input {
                        width: 100%;
                        height: 100%;
                        background-color: #E0E0E2;
                        border-radius: 5px;
                        border: none;
                        color: white;
                        font-size: 16px;
                        font-family: var(--font-family);
                    }
                }
            }
        }



    }

    .footer-5 {
        max-width: 100%;
        height: 76px;
        margin-bottom: 30px;

        .footer-5-center {
            max-width: 1640px;
            height: 100%;
            margin: 0px auto;
            background-color: #3C4B6D;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer-5-right {
                width: fit-content;
                height: fit-content;
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 20px;

                .footer-5-right-logo {
                    width: 45px;
                    height: 45px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .footer-5-right-text {
                    h3 {
                        color: white;
                        font-size: 23px;
                        font-family: var(--font-family);
                    }
                }
            }

            .footer-5-left {
                width: fit-content;
                height: fit-content;
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 16px;

                .footer-5-left-item {
                    width: 142px;
                    height: 44px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .footer-5-left-more {
                    width: 42px;
                    height: 44px;
                    background-color: #FFFFFF;
                    border-radius: 4px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .footer-6 {
        max-width: 100%;
        height: 225px;

        .footer-6-center {
            max-width: 1640px;
            height: 100%;
            margin: 0px auto;
            display: flex;
            justify-content: space-between;
            padding-top: 35px;
            box-sizing: border-box;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;

            .footer-6-center-right {
                width: 1012px;
                height: 125px;

                h1 {
                    color: rgb(109, 105, 105);
                    font-size: 23px;
                    font-family: var(--font-family);
                    margin-bottom: 10px;
                }

                p {
                    color: gray;
                    font-size: 14px;
                    font-family: var(--font-family);
                    line-height: 30px;
                }

                a {
                    text-decoration: none;
                    color: #1CBFD3;
                    font-size: 14px;
                    font-family: var(--font-family);
                }

            }

            .footer-6-center-left {
                width: fit-content;
                height: fit-content;
                display: flex;
                justify-content: left;
                column-gap: 10px;

                .footer-6-icons {
                    width: 109px;
                    height: 109px;
                    border: 1px solid lightgrey;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 75px;
                        height: 75px;
                    }
                }
            }


        }
    }

    .footer-7 {
        width: fit-content;
        height: fit-content;
        color: gray;
        font-size: 12.5px;
        font-family: var(--font-family);
        margin: 45px auto;
    }

    .footer-8 {
        width: 100%;
        height: 160px;
        background-color: #F0F0F1;

        .footer-8-center {
            max-width: 1648px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;


            .footer-8-item {
                width: 11%;
                height: 80px;
                padding: 30px 0;
                box-sizing: border-box;
                text-align: center;

                img {
                    width: 130px;
                    height: 100%;
                }

            }
        }
    }
}

.border-left {
    border-left: 0.5px solid rgb(234, 227, 227);
}

.border-bottom {
    border-bottom: 0.5px solid rgb(234, 227, 227);
}